builds/*
build/*
conan.lock
conanbuildinfo.cmake
conanbuildinfo.txt
conaninfo.txt
graph_info.json
applications/utilities/plotters/mlat.txt
applications/utilities/plotters/real.txt
applications/utilities/plotters/filter.txt
applications/utilities/plotters/speed_filter.txt
applications/utilities/plotters/speed_real.txt
applications/utilities/plotters/acceleration_filter.txt
applications/utilities/plotters/acceleration_real.txt
