builds/*
build/*
conan.lock
conanbuildinfo.cmake
conanbuildinfo.txt
conaninfo.txt
graph_info.json
libraries/aircraft-simulator/plotter.txt

!/applications/simulator/plotter.txt
!/libraries/aircraft-simulator/plotter.txt
